/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* RESET CSS */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}                  
article, aside, figure, footer, header, hgroup, nav, section {display:block;}
/* END RESET CSS -------------------------------------------------------------------------------- */

html {
    color: #333;
    font-size: 1em;
    line-height: 1.4;
}

body{
	padding: 0;
	margin: 0;
	font-family: Lato,sans-serif;
    min-width: 320px;
    font-size: 100%;
    line-height: 1.7em;
}

#body_wrap {
    position:relative;
    margin:0 auto;
    text-align:left;
}

/* Colours */

.red        { color: #C61745; }
.blue       { color: #0F5193; }
.light-blue { color: #C8D7E6; }
.grey       { color: #ACAFA6; }
.light-grey { color: #f0f0f0; }
.white      { color: #fff; }
.white      { color: #fff; }
.black      { color: #333; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    clear: both;
    border: 0 none;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    display: block;
}

/* Text Styling */

h1, h2, h3, h4, h5, h6{ 
    margin: 0
}

h1.grid-24, h2.grid-24, h3.grid-24, h4.grid-24, h5.grid-24, h6.grid-24{ 
    margin-bottom: 0
}

.w100 > h1, .w100 > h2, .w100 > h3, .w100 > h4, .w100 > h5, .w100 > h6{ 
      padding: 2em 0 1em;
}

h1.w100, h2.w100, h3.w100, h4.w100, h5.w100, h6.w100{ 
    padding: 2em 4% 1em;
}


h1{
    padding: 1.1em 0;
    font-size: 1.5em
}

h2{
    padding: 1em 0;
    font-size: 1.3em
}

h3{
    padding: 0.9em 0;
    font-size: 1.1em
}

h4{
    padding: 0.8em 0;
    font-size: 0.9em
}

h5{
    padding: 0.7em 0;
    font-size: 0.7em
}

h6{
    padding: 0.6em 0;
    font-size: 0.5em
}

/* Wrappers */

.content {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.w100 {
    width:92%;
    padding: 0em 4%
}

/* Font Awesome */

.fa span{
    display: none
}

h1 .fa, h2 .fa, h3 .fa, h4 .fa, h5 .fa, h6 .fa{ 
    padding: 0 0.3em 0 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */


/* Links List */

ul.links li a{
    text-decoration: none;
    display: block;
    font-weight: 500;
    border-bottom: 1px dotted #FFFFFF;
    padding: 0.5em 1em;
    color: #0F5193;
}

ul.links li a:hover{
   color: #C61745; 
}

ul.links li a:after{
    font-family: FontAwesome;
    content: '\f105';
    padding: 0 0 0 1em;
    font-weight: bold;
}

ul.links li a .fa{
    padding: 0 0.4em 0 0;
    font-size: 1.2em;
    color: #fff;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#logout {
    position: absolute;
    right: 4%;
    top: 1.7em;
}

#logolarge {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.logocontainer {
	width: 88%;
	margin: 2%;
	padding: 2% 4%;
}

.logocontainer h1 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	text-align:center;
}


#table1 {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#table1 input:not([type=submit]):not([type=file]) {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table1 select {
  padding: 8px 26px 8px 26px;
  margin: 5px 15px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table1 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	text-align:center;
}

#table1 td {
	text-align:center;
}

/* -------------------------- */

#table2 {}

/* -------------------------- */

#table3 {
	margin-left: auto;
	margin-right: auto;
}

#table3 select {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table3 input:not([type=submit]):not([type=file]) {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table3 td {
	text-align:center;
}

#table3 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
}

/*----------------------------------- */

table {
	margin-left: auto;
	margin-right: auto;
}

table select {
  padding: 8px 20px 8px 20px;
  margin: 5px 2px 5px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

table input:not([type=submit]):not([type=file]) {
  padding: 8px 10px 8px 10px;
  margin: 5px 2px 5px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

table td {
	text-align:center;
}

table h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
}

/*----------------------------------- */

#table5 {
	margin-left: auto;
	margin-right: auto;
}

#table5 select {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table5 input:not([type=submit]):not([type=file]) {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table5 td {
	text-align:center;
}

#table5 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
}

/*---*/

#table6 {
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
}

#table6 select {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table6 input:not([type=submit]):not([type=file]) {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table6 td {
	text-align:center;
}

#table6 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
}


#table7 {
	margin-left: auto;
	margin-right: auto;
	width: 45%;
}

#table7 a {
	text-decoration: none;
	font-family: Lato,sans-serif;
	color: #3f3f3f;
	font-weight: bold;
}

#table7 a:hover {
	text-decoration: none;
	font-family: Lato,sans-serif;
	color: #C41846;
	font-weight: bold;
}

#table7 li {
	margin: 0px 0px 0px 25px;
	list-style:none;
}


#table7 td {
	width: 50%;
}

#table7 h2 {
	padding-left: 50px;
	font-family: lato,sans-serif;
	color: #3f3f3f;
	font-weight:400;
	border-bottom: 1px solid #b7c8cf;
}

/*----------------------------------- */
#table8 {
	float:left;
	width: 44%;
	margin-right: 3%;
	margin-left: 3%;
}

#table8 select {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table8 input:not([type=submit]):not([type=file]) {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table8 td {
	text-align:center;
}

#table8 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
}

/*----------------------------------- */

#table9 {
	float:left;
	width: 44%;
	margin-right: 3%;
	margin-left: 3%;
/*	border: 1px solid #175696; */
}

#table9 select {
  padding: 8px 20px 8px 20px;
  margin: 5px 2px 5px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table9 input:not([type=submit]):not([type=file]) {
  padding: 8px 10px 8px 10px;
  margin: 5px 2px 5px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table9 td {
	text-align:center;
}

#table9 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
}

/*----------------------------------- */

.tablecontainer2 {
	display: block;
	width: 100%;
	height:100%;
}

.cellemphasis {
	border: 1px solid #C41846;
	border-radius: 15px;
	background-color: #BEBEBE;
}

.divemphasis {
	border: 1px solid #C41846;
	border-radius: 15px;
	background-color: #D4D4D4;
	padding: 25px;
}

.invisibleemphasis {
	border: 1px solid #EBEBEB;
	border-radius: 15px;
	background-color: #EBEBEB;
	padding: 25px;
}

.imputfieldemphasis {
	border: 1px solid #898989;
	border-radius: 15px;
	padding: 15px;
	margin-bottom: 50px;
	width: 55%;
	margin-right: auto;
	margin-left: auto;
}

/*----------------------------------- */

.submit-center-button {
	display: block;
	width: 100%;
	text-align: center;

}	

/*----------------------------------- */

#container {
	background-color: #ebebeb;
}

#container h1 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	text-align:center;
}

/*----------------------------------- */
/*--------- INVOICE STYLES ---------- */
/*----------------------------------- */


#invoicecontainer {
	width: 88%;
	border-radius: 25px;
	background-color: #ebebeb;
	margin: 2%;
	padding: 2% 4%;
	height: auto;
}

#invoicecontainer h1 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	text-align:center;
}

#invoiceheader {
	width: auto;
	height: auto;
	display: block;
	border: 1px solid #3f3f3f;
	border-radius: 15px;
	background-color: #ebebeb;
	margin-right: 15%;
	margin-left: 15%;
	
}

#companyaddress {
	display: block;
	float: left;
	border: 1px solid #3f3f3f;
	border-radius: 15px;
	background-color: #ebebeb;
	margin-top: 10px;
	margin-left: 15%;
	width: 400px;
	height: auto;
}

#clientaddress {
	display: block;
	float: left;
	border: 1px solid #3f3f3f;
	border-radius: 15px;
	background-color: #BEBEBE;
	margin-top: 10px;
	margin-left: 15%;
	width: 50%;
	height: auto;
	margin-bottom: 10px;
	
}

#documentdetails {
	display: block;
	float: right;
	border: 1px solid #3f3f3f;
	border-radius: 15px;
	background-color: #BEBEBE;
	margin-top: 10px;
	margin-right: 15%;
	margin-bottom: 10px;
	width: 19%;
	height: 165px;
	
}

.onelinetb {
	display: block;
	float: right;
	border: 1px solid #C41846;
	border-radius: 15px;
	background-color: #BEBEBE;
	margin-right: 15%;
	margin-bottom: 10px;
	width: 19%;
	height: 70px;
	
}

.onelinetb_small {
	display: block;
	float: right;
	border: 1px solid #C41846;
	border-radius: 15px;
	background-color: #BEBEBE;
	margin-right: 15%;
	margin-top: 10px;
	width: 19%;
	height: 48px;
	
}

.paymentinfo {
	display: block;
	float: left;
	border: 1px solid #C41846;
	border-radius: 15px;
	background-color: #BEBEBE;
	margin-top: 10px;
	margin-left: 15%;
	width: 50%;
	height: auto;
	margin-bottom: 10px;
	
}

.details {
	display: block;
	width:70%;
	margin-right: 15%;
	margin-left: 15%;
	float: left;
	border-radius: 15px;
	background-color:#FFFFFF;
	
}

.clearboth {
	clear: both;
}

/*----------------------------------- */

#table10 {
	float:left;
	width: 100%;
	margin-right: 3%;
	margin-left: 3%;
/*	border: 1px solid #175696; */
}

#table10 select {
  padding: 8px 8px 8px 8px;
  margin: 2px 2px 2px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table10 input:not([type=submit]):not([type=file]) {
  padding: 8px 10px 8px 10px;
  margin: 5px 2px 5px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table10 td {
	text-align:left;
}

#table10 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	margin: 12px 2px 3px 5px;
}

#table11 {
	float:left;
	width: 95%;
	margin-right: 3%;
	margin-left: 3%;
/*	border: 1px solid #175696; */
}

#table11 select {
  padding: 8px 8px 8px 8px;
  margin: 2px 0px 2px 0px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table11 input:not([type=submit]):not([type=file]) {
  padding: 2px 0px 2px 5px;
  margin: 2px 0px 2px 0px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table11 td {
	text-align:left;
}

#table11 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	margin: 4px 2px 3px 5px;
}

#table12 {
	float:left;
	width: 100%;
	margin-right: 3%;
	margin-left: 3%;
/*	border: 1px solid #175696; */
}

#table12 select {
  padding: 8px 8px 8px 8px;
  margin: 2px 2px 2px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table12 input:not([type=submit]):not([type=file]) {
  padding: 8px 10px 8px 10px;
  margin: 5px 2px 5px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table12 td {
	padding-top: 12px;
	text-align:left;
}

#table12 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	margin: 5px 2px 3px 5px;
}

#table13 {
	float:left;
	width: 100%;
	margin-right: 3%;
	margin-left: 3%;
/*	border: 1px solid #175696; */
}

#table13 select {
  padding: 8px 8px 8px 8px;
  margin: 2px 2px 2px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table13 input:not([type=submit]):not([type=file]) {
  padding: 4px 5px 4px 5px;
  margin: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table13 td {
	text-align:left;
}

#table13 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	margin: 5px 2px 3px 5px;
}

#table13 h6 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	margin: 2px 2px 3px 2px;
}

/*----------------------------------- */
/*---------- TABLE STYLES ----------- */
/*----------------------------------- */



.tablecontainer {
	width: auto;
	height: auto;
	display: block;
	border: 1px solid #3f3f3f;
	border-radius: 15px;
	background-color: #ebebeb;
	margin-right: 1%;
	margin-left: 1%;
	
}

.table14 {
		margin-left: auto;
		margin-right: auto;
		border-collapse: collapse;
		margin-top: 25px;
		margin-bottom: 25px;
		box-shadow: 10px 10px 5px #888888;
}

.table14 th {
		font-family: Exo,sans-serif;
		font-size: smaller;
		color: #FFF;
		padding: 5px 25px 5px 25px;
		border: 1px solid #707070; /* W3C */
		background-color: #C41846;

		
}

.table14 select {
	  padding: 8px 20px 8px 20px;
	  margin: 5px 2px 5px 2px;
	  border: solid 1px #fff;
	  box-shadow: inset 1px 1px 2px 0 #707070;
	  transition: box-shadow 0.3s;
	  border-radius: 15px;
}

.table14 input:not([type=submit]):not([type=file]) {
	  padding: 8px 10px 8px 10px;
	  margin: 5px 2px 5px 2px;
	  border: solid 1px #fff;
	  box-shadow: inset 1px 1px 2px 0 #707070;
	  transition: box-shadow 0.3s;
	  border-radius: 15px;
}

.table14 td {
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
}

.table15 {
		margin-left: auto;
		margin-right: auto;
		border-collapse: collapse;
		margin-top: 125px;
		margin-bottom: 125px;
		box-shadow: 10px 10px 5px #888888;
}


.table15 select {
	  padding: 8px 20px 8px 20px;
	  margin: 5px 2px 5px 2px;
	  border: solid 1px #fff;
	  box-shadow: inset 1px 1px 2px 0 #707070;
	  transition: box-shadow 0.3s;
	  border-radius: 15px;
}

.table15 input:not([type=submit]):not([type=file]) {
	  padding: 8px 10px 8px 10px;
	  margin: 5px 2px 5px 2px;
	  border: solid 1px #fff;
	  box-shadow: inset 1px 1px 2px 0 #707070;
	  transition: box-shadow 0.3s;
	  border-radius: 15px;
}

/* .table15 td {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	border: 1px solid #707070;
} */

.yellowtd1 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #F5DBB5;
}

.yellowtd2 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #F0CA8F;
}

.yellowtd3 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #EBB86A;
}

.greentd1 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #C2E6CE;
}

.greentd2 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #99D6AE;
}

.greentd3 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #5CBD7D;
}

.redtd1 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #FFC2C2;
}

.redtd2 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #FF9999;
}

.redtd3 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #FF5C5C;
}

.emptytd {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
}

.glassth {
		font-family: Exo,sans-serif;
		font-size: smaller;
		color: #505050;
		padding: 5px 25px 5px 25px;
		border: 1px solid #707070; /* W3C */
		background: #e4f5fc; /* Old browsers */
		background: -moz-linear-gradient(top,  #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(50%,#bfe8f9), color-stop(51%,#9fd8ef), color-stop(100%,#2ab0ed)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
}

.spacer {
	background-color: #ebebeb;
	opacity: 1;
	border-color: #ebebeb;
	
}

.abovetarget {
	background-color: #33AD5C;
}

.attarget {
	background-color: #E6A645;	
}

.belowtarget {
	background-color: #FF3333;	
}

.target td {
	color: #fff;
}


.minus {
	color: #C41846;
}


.totalstd {
	color: #fff;
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	border: 1px solid #707070;
	background-color: #C41846
}

/* #table14 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
}

*/

/*----------------------------------- */


.form-box {
	width: auto;
	height: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}


.phpoutput {
	width: 1000px;
	height: auto;
	background-color: #ebebeb;
	margin-top: 50px;
	margin-bottom: 150px;
	margin-left: auto;
	margin-right: auto;
}


.inputline {
	height: 35px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}


	

.errormsg p {
	margin-left: 50px;
	color: #C41846;
	font-family: Exo,sans-serif;
	font-weight: 600;
}	

.center {
	text-align: center;
	margin: 0 auto;
	width: auto;
}


.container {
	width: 60%;
	margin: 0 auto;
	border: 1px solid #3f3f3f;
	
}




/* FOOTER */

#footer_fps {
    background: #0F5193;
    color: #FFF;
    font-family: Lato,sans-serif;
    padding-bottom: 0.2em;
}

#footer_fps h4{
    font-weight: 100;
    font-size: 0.9em
}

/* ----------------------------------- */
/* -------- DASHBOARD STYLES --------- */
/* ----------------------------------- */

.dashborad-header {
	width: 90%;
	margin: 0 auto;
	padding: 1% 1%;
}

.dashborad-header h1 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	text-align:center;
}

.height350 {
	height: 350px;
	display: block;
}

.height500 {
	height: 500px;
}

.height750 {
	height: 750px;
}

.graph1 {
	width: 96%;
	height: 76%;	
}
 
.buttons1 {
	width: 100%;
	margin-bottom: 1%; 	
}

.container-header {
	width: 100%;
	height: 10%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.googletable1 {
	width: 100%;
	height: auto;
	margin-bottom: 25px;
}

.googletable2 {
	width: 100%;
	height: auto;
	margin-bottom: 5px;
}

.outline {
	outline: 1px solid #3B3B3B;
	
}

.margin-top50 {
	margin: 50px;
}

.margins {
	margin-top: 75px;
	margin-bottom: 25px;
}

.margin2 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.table-mid {
	margin: 0 auto;
	text-align: center;
	border: 1px solid #000000;
}

.column_a h5, .column_b h5, .column_c h5 {
	margin: 3px 0;
	color: #C41846;
	font-family: Abel,sans-serif;
	text-align: center;

}

.column_a {
	width: 18%;
	display: block;
	background: #fff;
	float: left;
	margin: 0px 0px 2% 2%;

}

.column_b {
	width: 37%;
	display: block;
	background: #fff;
	float: left;
	margin: 0px 0px 2% 2%;

}

.column_c {
	width: 37%;
	display: block;
	background: #fff;
	float: left;
	margin: 0px 0px 2% 2%;

	
}

.column_charts {
	width: 96%;
	display: block;
	margin: 0 2%;
	height: 450px;
}


.redheader {
	background-color: #C41846 !important;
	color: #FFFFFF;
}

/* GoogleCharts IDs */

#piechart2 {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
}

#curve_chart {
	margin-right: 6%;
	margin-left: 6%;
}

#curve_chart2 {
	margin-right: 6%;
	margin-left: 6%;
}

#table_div_a {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_b {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_c {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_d {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_e {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_f {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_g {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_h {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_i {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_j {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_k {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_l {
	margin-right: 2%;
	margin-left: 2%;
}


#table_div7 {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div4 {
	margin-right: 6%;
	margin-left: 6%;
}

#table_div5 {
	margin-right: 6%;
	margin-left: 6%;
}

#table_div6 {
	margin-right: 6%;
	margin-left: 6%;
}

#visualization {
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}

/* GRID */

.grid{
    overflow: hidden;
    padding: 1.3em 2%;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24{
    margin: 0 2% 1em;
    float: left;
    position: relative;
    display: block;
}

.grid .scroll{
    overflow-x: scroll;
}
 
/* 4 Columns */
.grid-6{
    width: 21%
}

/* 3 Columns */
.grid-8{
    width: 29.333%
}

/* 2 Columns */
.grid-12{
    width: 46%
}

.grid-18{
    width: 71%
}

.grid-24{
    width: 96%
}

.grid-12_withmargin{
    width: 46%;
    margin-top: 50px;
    margin-bottom: 0;
    background-color: #999999;
    border-radius: 15px;
    color: #333;
    text-align: center;
}

/* ==========================================================================
   Fancy button
   ========================================================================== */

.submit-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:1px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:35px;
	line-height:35px;
	width:132px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
	margin-bottom: 10px;
}
.submit-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}
.submit-button:active {
	position:relative;
	top:1px;
}


/* ========================================================================== */

/* NAVIGATION */

nav {
    font-family: Abel,sans-serif;
    z-index: 1;
    position: relative;
}

nav a:link{
    text-decoration: none;
}

nav ul {
    background: #175696;
    position: relative;	
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	float: left;
}

nav ul li:hover {
	background: #C41846;
}
	
nav ul li:hover a {
	color: #fff;
}
	
nav ul li a {
	display: block; 
    padding: 0.5em 1em;
	color: #FFF;
}

.dropdown-menu{
    display: none;
    background: #175696;
    padding: 0.5em 1em;
    color: #fff;
}

nav .expand{
    display: none;
}

/* ------------------------------------------------ */

nav ul li:hover > ul {
	display:block;
}

nav ul ul {
    display:none;
	background: #175696; 
	padding: 0;
	position: absolute; 
	top: 100%;
}

nav ul ul li {
	float: none; 
	position: relative;
}

nav ul ul li a {
	padding: 0.4em 1em;
	color: #fff;
}	
			
nav ul ul li a:hover {
	background: #C41846;
}

nav ul ul ul {
	position: absolute; 
	left: 100%;
	top:0;
}


/* ------------------------------------------------ */

nav ul ul ul {
	background: #888888;
	padding: 0;
	position: absolute; 
	top: 100%;
	width:300px;
}

nav ul ul ul li {
	float: none; 
	position: relative;
}
			
nav ul ul ul {
	position: absolute; 
	left: 100%;
	top:0;
}
  
/* STRUCTURE CSS */

/* Header ---------------------------------------------------------------------------------------------------------------------------------------------------- */
#header {
    position: relative;
    margin: 0;
    padding: 1em 4%;
    width: 92%;
} 

#header #logo a{
    display: block;
}

/* Main Navigation */

#nav {
    position: absolute;
    right: 4%;
    top: 36%;
    font-size: 1.2em;
    font-weight: lighter;
}

#nav li {
    display: block;
    float: left;
    padding: 0;
}

#nav a:link, #nav a:active, #nav a:visited {
    color:#C61745;
    padding: 0.5em;
    text-decoration: none;
}

#nav a:hover{
    color: #0F5193;
}

#nav a .fa{
    padding: 0 0.1em 0;
    color: #ACAFA6;
}

.hamburger{
    display: none;
}

/* Sub Navigation */
#sub_nav_wrap {min-height:0; height:35px; padding:0;}
#sub_nav {position:absolute; width:100%; left:0; margin:0; padding:3px 10px 0; font-size:15px; font-weight:bold; color:#FFF; list-style:none;}
#sub_nav>li {float:left; margin:0 15px 0 0; padding:7px 0;}

#sub_nav>li>ul {position:absolute; overflow:hidden; top:35px; width:250px; margin:0; padding:0; background:#333; opacity:0.95; border-bottom-right-radius:4px; border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -webkit-border-bottom-right-radius:4px; -webkit-border-bottom-left-radius:4px; box-shadow:0px 0px 8px #555; -moz-box-shadow:0px 0px 8px #555; -webkit-box-shadow:0px 0px 8px #555; z-index:100;}

#user_guide #sub_nav>li>ul, #user_guide_index #sub_nav>li>ul {width:265px;}

#sub_nav .css_nav_dropmenu>ul {left:-999em;}
#sub_nav .css_nav_dropmenu:hover>ul {left:auto; border:1px solid #222;} 
#sub_nav .js_nav_dropmenu>ul {height:0;}

#sub_nav a:link, #sub_nav a:active, #sub_nav a:hover, #sub_nav a:visited {color:#fff;}

#sub_nav >li>ul>li {padding:2px 10px 4px; display:inline-block; width:100%; font-size:14px; font-style:italic;}
#sub_nav >li>ul>li a {display:inline-block; width:90%; font-weight:normal;}
#sub_nav >li>ul>li:before {content:"\00bb\00a0";} /* "\00bb\00a0" = "� " Characters*/
#sub_nav >li>ul>li:hover {background:#069;}
#sub_nav >li>ul>li:last-child {margin-bottom:2px;}

#sub_nav >li>ul>li.header {background:#4C4C4C; font-size:15px; box-shadow:0 2px 4px #222;}
#sub_nav >li>ul>li.header + li {padding-top:5px;}
#sub_nav >li>ul>li.header + li:hover {box-shadow:inset 0 2px 4px #333;}
#sub_nav >li>ul>li.header + li.status {box-shadow:inset 0 2px 4px #333;}
#sub_nav >li>ul>li.header small {display:block; font-size:11px; font-weight:normal; color:#fff}
#sub_nav >li>ul>li.header:before {content:"";}

#sub_nav >li>ul>li.status {padding:6px 10px; background:#333; font-size:13px; font-weight:normal; color:#fff;}
#sub_nav >li>ul>li.status a {display:inline;}
#sub_nav >li>ul>li.status:before {content:"";}
#sub_nav >li>ul>li.status:last-child {padding-bottom:10px;}

/* Google Search box */
#sub_nav #user_guide_search {float:right; font-size:12px; padding:3px;}
#sub_nav #user_guide_input {width:125px; height:15px;}

/* flexi cart ribbon */
#flexi_cart_ribbon {position:absolute; top:-60px; right:-148px; width:118px; height:208px; background:url(../images/flexi_cart_ribbon.png) no-repeat transparent;}
#flexi_cart_ribbon .ribbon_text {width:90px; margin:80px 9px 0; text-align:center; font-style:italic;}
#flexi_cart_ribbon p {margin:0; padding:0; font-size:12px; color:#aaa;}
#flexi_cart_ribbon h6 {margin:5px 0 0; padding:0; font-size:14px; color:#ddd;}
#flexi_cart_ribbon:hover {text-decoration:none;}
#flexi_cart_ribbon.hover p {color:#fff;}
#flexi_cart_ribbon.hover h6 {color:#fff; text-decoration:underline;}

/* Footer ---------------------------------------------------------------------------------------------------------------------------------------------------- */
#footer_flexi {color:#fff;}
#flexi_cart_floater {
	position:absolute; 
	width:60px; height:60px; padding:5px 5px 5px 15px; top:0; right:0; 
	border-bottom-left-radius:80px; border-top-left-radius:3px; border-bottom-right-radius:5px; 
	background:-webkit-radial-gradient(top right, ellipse cover, #fefcea 0%, #fc0 100%); 
	color:#333; text-align:center; overflow:hidden;"
}

/* Content Wraps --------------------------------------------------------------------------------------------------------------------------------------------- */
/*.w100, .w66, .w50, .w33 {float:left; margin:0 10px 0 0; padding:10px 15px;}*/
.w100.float_r, .w66.float_r, .w50.float_r, .w33.float_r {float:right;}

/*.w66 {width:598px;}
.w50 {width:441px;}
.w33 {width:279px;}*/
.r_margin {margin-right:0;}

.pad_10 {padding:5px 10px;}
.w100.pad_10 {width:936px; margin-bottom:0;}
.w66.pad_10 {width:608px;}
.w50.pad_10 {width:458px;}
.w33.pad_10 {width:289px;}

.position_left {float:left; width:440px; margin-right:10px; padding-right:20px;}
.position_right {float:left; width:440px;}
.w100.pad_10 .position_left {width:450px;}
.w100.pad_10 .position_right {width:450px;}

.pad_l_20 {padding-left:20px;} /* Pad cart discount/surcharge data */

.content_wrap.nav_bg {background:url(../images/nav_wrap_blue_bg.png) repeat-x #069;}
.content_wrap.intro_bg {background: #f0f0f0;}

.content_wrap.main_content_bg {
    background: #C8D7E6;
}

.content_wrap.footer_bg {background:url(../images/footer_wrap_bg.png) repeat-x;}
.content_wrap.no_bg_overlap {background-position:0 -10px;}

fieldset {width:auto; margin:10px 0; padding:10px 15px; background-color:#f0f0f0; border:2px solid #aaa;}
fieldset.w50 {margin:5px 10px 5px 0;}
fieldset.w50.r_margin {margin-right:0;}
.frame {
    background-color: #f0f0f0;
    outline: 4px solid #FFF;
    padding: 4%;
    width: 92%;
}

.frame_note {  
    padding: 1em 0 2em;
    border-top: 1px solid #ccc;
}

.frame_note hr {margin-top:10px; margin-bottom:10px;}
.frame_note p:last-child {margin:0;}
.frame_note:last-child {margin-bottom:5px;}

/* Misc Elements --------------------------------------------------------------------------------------------------------------------------------------------- */
h3.heading {display:block; margin:-12px -17px 10px -17px; padding:10px 15px; border:2px solid #aaa; border-bottom:1px solid #aaa; background-color:#ccc; color:#333; font-family:Verdana, Arial; font-weight:bold; font-size:16px;}

/* User Guide Main Index */
.inl_block li {display:inline-block; width:225px; margin-left:-20px;}
.inl_block li:before, .inl_block li:before {content:"\2022\00a0"; font-size:17px;}

/* Item Form Examples */
.inl_list ul {margin:0; padding:5px 0; list-style:none;}
.inl_list li {display:inline-block; margin:0 50px 0 0;}
.inl_list label {width:auto;}

.bullet ul, ul.bullet {list-style-position:outside; padding-left:20px; list-style:disc;}
.pad_10 hr {margin:10px auto;}
.inline {display:inline;}

/* Toggle Content */
.toggle {font-weight:bold; font-size:12px; cursor:pointer;}
h3.toggle {margin:15px 0 5px; font-size:15px;}
label.toggle {font-weight:normal; font-size:14px; cursor:pointer;}
.hide_toggle {display:none;}

/* tooltip styling */
.tooltip_trigger {cursor:help;}
span.tooltip_trigger:after {content:"\2020"; vertical-align:7px; font-size:70%; color:#069;}

.tooltip {
	display:none; min-width:120px; max-width:250px; padding:10px; background-color:#444; border:1px solid #222; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	color:#eee; box-shadow:0 2px 10px rgba(0,0,0,0.5); -webkit-box-shadow:0 2px 10px rgba(0,0,0,0.5); -moz-box-shadow:0 2px 10px rgba(0,0,0,0.5);
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);
}
.tooltip.width_400 {max-width:400px;}
.tooltip table {color:#333;}

/* Site Index ------------------------------------------------------------------------------------------------------------------------------------------------ */
#home .main_banner .content {height:300px; padding:0; background:url(../images/nav_bg_ctr.png) center no-repeat;}
#home .main_banner_img {position:absolute; left:10px; top:-10px; z-index:100;}
#home #banner_wrap h1 {margin:10px 0 25px; font-size:32px; color:#fff; text-shadow:0px 0px 8px #000;}
#home #banner_wrap a {float:left; margin-left:62px;}
#home #banner_wrap a p {font-size:20px; font-weight:bold; color:#fff; text-decoration:underline;}

/* User Guide ------------------------------------------------------------------------------------------------------------------------------------------------ */
#user_guide_index  .w100 {width:936px; margin-bottom:0; padding:5px 10px;}
#user_guide_index  .w33 {width:289px; padding:5px 10px;}
#user_guide_index  .frame ul, #user_guide  .frame ul {margin:0 0 5px 20px; list-style:disc;}
#user_guide_index  .frame ul li, #user_guide  .frame ul li {padding:2px 0;}
#user_guide_index  .frame ul li small, #user_guide  .frame ul li small {margin:2px 0 0; padding:0;}
#user_guide_index  hr {width:96%; margin:10px auto; border-top:1px solid #ccc;}

#user_guide_index .content_wrap.nav_bg, #user_guide .content_wrap.nav_bg {background:url(../images/nav_wrap_orange_bg.png) repeat-x #ff5f00;}
#user_guide_index #sub_nav >li>ul>li:hover, #user_guide #sub_nav >li>ul>li:hover {background:#ff5f00;}
#user_guide_index #sub_nav >li>ul>li.header:hover, #user_guide #sub_nav >li>ul>li.header:hover {background:#4C4C4C;}

#user_guide hr {margin:10px 20px; border:none; border-top:1px solid #ccc;}
#user_guide code {color:#ff5f00; font-weight:bold;}

#user_guide pre {margin-bottom:10px; padding:15px; border:1px dotted #ff5f00; background-color:#e6e6e6; color:#ff5f00;}
#user_guide pre:last-child {margin-bottom:5px;}
#user_guide pre .comment {color:#666;}
#user_guide pre .comment.bold {color:#111;}
#user_guide pre .toggle {font-weight:normal; font-size:14px; color:#069;}
#user_guide span~pre {margin-top:5px; background-color:#eee;}

#user_guide table {margin-top:5px; margin-bottom:15px;}
#user_guide table, #user_guide table thead th  {border:1px solid #aaa;}
#user_guide table th {background-color:#ddd; border-top:1px solid #aaa; border-bottom:1px solid #aaa;}
#user_guide table th small {font-weight:normal; color:#444;}
#user_guide table tbody {font-size:13px;}

#user_guide table.example {margin-bottom:5px; border:1px solid #aaa;}
#user_guide table.example td {border:1px dotted #ff5f00; background:#e6e6e6; vertical-align:middle;}
#user_guide table.example code {font-size:14px;}
#user_guide table.example small {font-size:13px;}

.anchor_nav {margin:10px 0; padding:10px; background:#e6e6e6; border:1px solid #aaa;}
.anchor_nav p {margin-bottom:15px;}
.anchor_nav p:last-child {margin:0;}

#user_guide .db_schema_diagram {width:924px; border:1px solid #aaa;}

#user_guide .help_link {float:right; margin:-25px 0 0 0; padding:1px 5px; background-color:#ddd; border:1px dotted #069;}
#user_guide code~.help_link {margin:-5px 0 0;}

/* Messages */

#message {
    margin-bottom: 2em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    outline: 4px solid #fff;
}

#message p{
    padding: 1em;   
    color: rgb(0, 0, 0);
    font-weight: lighter;
}

#message .status_msg {
    background-color: #A2D1A4;
}

#message .error_msg {
    background-color:#F4A0B4;
}

/* END OF STRUCTURE CSS */

/* BEGIN  GLOBAL CSS */

/* Global Styles -------------------------------------------------------------------------------- */
/* body {font:14px Lato; *font-size:small; *font:x-small; color:#333; line-height:1.3;} */
html {overflow-y:scroll; -webkit-font-smoothing:antialiased;}

.ie7 img {-ms-interpolation-mode:bicubic;} 
/* END Global Styles ---------------------------------------------------------------------------- */

small {display:block; margin-top:5px; font-style:italic; color:#666; line-height:1.4; font-size:85%;}
strong {font-weight:bold;}
pre, code {font-family: Consolas, Menlo, Monaco, 'Lucida Console', courier, monospace, serif;}

.ie6 hr, .ie7 hr { margin:8px auto }

/* Link Styling ----------------------------------------------------------------------------- */

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: #0F5193;
    text-decoration:underline; 
    font-weight:bold;
}

a:hover, a:active {
    outline:none;
    color: #C61745;
}

/* List Styling ----------------------------------------------------------------------------- */
ul {list-style:none; margin-left:0;}


/* Table Styling ----------------------------------------------------------------------------- */

table {
    width:auto;
    border:2px solid #aaa;
    border-collapse:collapse;
    border-spacing:0;
    background-color:#f0f0f0;
}
table caption {
    padding:7px;
    font-size:16px;
    font-weight:bold;
    text-align:left;
}

table th, table td {
    border-bottom:1px dotted #aaa;
    border-right:1px dotted #aaa;
    vertical-align:middle;
}

thead th, thead td, tfoot th, tfoot td {
    border-bottom:1px solid #aaa;
    border-top:1px solid #aaa;
    background-color:#d9d9d9;
}

table th { 
    padding: 0.3em;
    font-weight:bold;
}

table td { 
    padding: 0.3em;
}

/* END Table Styling ----------------------------------------------------------------------------- */

/* Form Styling ---------------------------------------------------------------------------------- */
fieldset {margin:10px 0; padding:10px;}
fieldset legend {font-size:16px; font-weight:bold;}
label, input[type=button], input[type=submit], button {cursor:pointer;}
button, input, select, textarea {margin:0; padding:3px;}

/* Align Inputs with Labels */
label {vertical-align:middle; margin-right:5px; line-height:1.5;}
label+textarea, label+select[size] {vertical-align:top;}
.ie6 label {vertical-align:3px;}

input, select {vertical-align:middle;}
input[type=radio] {vertical-align:-1px; margin-right:5px;}
input[type=checkbox] {vertical-align:-2px; margin-right:5px;}
.ie6 input {vertical-align:text-bottom;}
.ie6 button, .ie7 button {width:auto; overflow:visible;}

select optgroup {color:#777;}
select optgroup option{color:#333;}

input[type=text], input[type=password], input[type=button], input[type=submit], textarea, select, button {
    padding: 0.6em 1em;
    margin-bottom: 0.5em;
    border: 1px solid #AAA;
}
textarea {overflow-y:auto; resize:vertical;}

input, textarea, select, button {
 	background-color:#f7f7f7;
	outline:none;
	font:99% sans-serif;
	color:#333;
	border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
	transition-property: background-color, box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
	-webkit-transition-property: background-color, -webkit-box-shadow;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-property: background-color, -moz-box-shadow;
	-moz-transition-duration: 0.25s;
	-moz-transition-timing-function: ease-in-out;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus, button:focus, textarea:focus {
	background-color:#fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
input:disabled, textarea:disabled, select:disabled  {font-style:italic; color:#999; background-color:#ddd;}

label {
    display: inline-block;
    min-width: 145px;
}
input.width_50, select.width_50, textarea.width_50 {width:50px;}
input.width_75, select.width_75, textarea.width_75 {width:75px;}
input.width_100, select.width_100, textarea.width_100 {width:100px;}
input.width_125, select.width_125, textarea.width_125 {width:125px;}
input.width_150, select.width_150, textarea.width_150 {width:150px;}
input.width_175, select.width_175, textarea.width_175 {width:175px;}
input.width_200, select.width_200, textarea.width_200 {width:200px;}
input.width_225, select.width_225, textarea.width_225 {width:225px;}
input.width_250, select.width_250, textarea.width_250 {width:250px;}
input.width_300, select.width_300, textarea.width_300 {width:300px;}
input.width_350, select.width_350, textarea.width_350 {width:350px;}
input.width_400, select.width_400, textarea.width_400 {width:400px;}

/* END Form Styling -------------------------------------------------------------------------------------- */


/* Text Highlighting Colour */
::-moz-selection{background:#39F; color:#fff; text-shadow:none;}
::selection {background:#39F; color:#fff; text-shadow:none;} 

.align_ctr {text-align:center;}
.align_l {text-align:left;}
.align_r {text-align:right;}

.strike {text-decoration:line-through;}
.uline {text-decoration:underline;}

.highlight_red {color:#c00;}
.highlight_orange {color:#f60;}
.highlight_green {color:#0C0;}
.highlight_grey {color:#888;}

.info_req label:after, th.info_req:after {content:"*"; color:#c00; font-size:110%;}
.info_note label:after, th.info_note:after {content:"\2020"; vertical-align:7px; font-size:70%;}
/* END Font Styling ----------------------------------------------------------------------------- */  
  

/* Input~Link Buttons --------------------------------------------------------------------------- */
.link_button, a.link_button {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #FAFAFA;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(157, 31, 98, 1);
    cursor: pointer;
    font-weight:bold;
    box-shadow:0px 1px 0px rgba(157, 31, 98, 1);
    -webkit-box-shadow:0px 1px 0px rgba(157, 31, 98, 1);
    -moz-box-shadow:0px 1px 0px rgba(157, 31, 98, 1);
    background: #DA1248;    
    padding: 0.6em 1em;
    text-align: center
}

a.link_button{
    padding: 0.6em 1em;
}

.small.link_button, .small.link_button:visited {
    padding:5px 6px;
    font-size:11px;
    box-shadow:0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
}

.large.link_button, .large.link_button:visited {
    font-size: 1em;
    min-width: 200px;
}

.link_button:hover {
	background: #0F5193;
}


.grey.link_button, .grey.link_button:visited {
	background: #BBB;
	background: -webkit-gradient(linear,left top,left bottom,from(#BBB),to(#777));
	background: -moz-linear-gradient(top,#BBB,#777);
}
.grey.link_button:hover {
	background: #999;
	background: -webkit-gradient(linear,left top,left bottom,from(#999),to(#555));
	background: -moz-linear-gradient(top,#999,#555);
}
.red.link_button, .red.link_button:visited {
	background: #C00;
	background: -webkit-gradient(linear,left top,left bottom,from(#C00),to(#900));
	background: -moz-linear-gradient(top,#C00,#900);
}
.red.link_button:hover {
	background: #B00;
	background: -webkit-gradient(linear,left top,left bottom,from(#B00),to(#600));
	background: -moz-linear-gradient(top,#B00,#600);
}

.ie6 a.link_button, .ie6 input.link_button, .ie6 button.link_button {filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#333333');}
.ie6 a.grey, .ie6 input.grey, .ie6 button.grey {filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D0D0D0', EndColorStr='#AAAAAA');}
.ie6 a.red, .ie6 input.red, .ie6 button.red {filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#CC0000', EndColorStr='#990000');}

input.link_button, button.link_button {border:0 none;}
.link_button.sq {border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; box-shadow:0 1px 1px rgba(0,0,0,0.3); -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3); -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3);}

.ie6 .link_button {padding:5px 6px; background-color:#444; font-size:13px; font-weight:bold; overflow:visible;}
.ie7 .link_button, .ie8 .link_button  {overflow:visible; border:1px solid #777;}
.ie6 a.small, .ie6 input.small  {padding:5px 6px; font-size:11px;}
.ie6 a.large, .ie6 input.large, .ie6 button.large  {padding:8px; font-size:14px;}

/* Inline Element Spacers -------------------------------------------------------------------------------- */
.spacer_25, label.spacer_25, .spacer_50, label.spacer_50, .spacer_75, label.spacer_75, .spacer_100, label.spacer_100, .spacer_125, label.spacer_125, 
.spacer_150, label.spacer_150, .spacer_175, label.spacer_175, .spacer_200, label.spacer_200 , .spacer_225, label.spacer_225, 
.spacer_250, label.spacer_250, .spacer_275, label.spacer_275, .spacer_300, label.spacer_300, .spacer_400, label.spacer_400 {display:inline-block;} 
th.spacer_25, td.spacer_25, th.spacer_50, td.spacer_50, th.spacer_75, td.spacer_75, th.spacer_100, td.spacer_100, th.spacer_125, td.spacer_125, 
th.spacer_150, td.spacer_150, th.spacer_175, td.spacer_175, th.spacer_200, td.spacer_200 , th.spacer_225, td.spacer_225, 
th.spacer_250, td.spacer_250, th.spacer_275, td.spacer_275, th.spacer_300, td.spacer_300 {display:table-cell;} 
.spacer_25 {width:25px;}
.spacer_50 {width:50px;}
.spacer_75 {width:75px;}
.spacer_100 {width:100px;}
.spacer_125 {width:125px;}
.spacer_150 {width:150px;}
.spacer_175 {width:175px;}
.spacer_200 {width:200px;}
.spacer_225 {width:225px;}
.spacer_250 {width:250px;}
.spacer_275 {width:275px;}
.spacer_300 {width:300px;}
.spacer_400 {width:400px;}

/* Helper Classes -------------------------------------------------------------------------------- */
/* Image Replacement */
.img_rep {display:block; text-indent:-9999px; overflow:hidden; background-repeat:no-repeat;}

/*JS class, even div heights*/
.parallel {clear:both;}

/* Float */
.float_l {float:left;}
.float_r{float:right;}
.no_float {float:none;}

/* Clear */
.clear {clear:both;}
.clear_l {clear:left;}
.clear_r {clear:right;}
.no_clear {clear:none;}

hr.clear {clear:both; display:block; border:0 none; height:0;}
.ie6 hr.clear, .ie7 hr.clear {margin:-8px 0 -7px;}

/* Clearfix */
.clearfix:after, .box:after, .parallel:after, li:after  {content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden;}
.clearfix, .box, .parallel {display:block;}
/*.clearfix {display:inline-block;}
* html .clearfix {height:1%;} /* Hides from IE-mac \*/



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



@media only screen and (min-width: 1367px) {}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {}

@media only screen and (min-width: 721px) and (max-width: 1024px){}

@media only screen and (max-width: 960px){}

@media only screen and (max-width: 940px){
    
    /* Public Navigation */
    #nav{
        display: none;
    }  
    
    #nav li{
        float: none
    }
    
    div.hamburger{
        display: block;
        font-size: 2em;
        padding: 0px 0.4em;
        position: absolute;
        top: 1.4em;
        right: 0.9em;
    }
    
    #nav.active{
        position: initial;
        display: block;
        background-color: #0F5193;
        padding: 0.5em 0;
        border-radius: 0 0 5px 5px;
    }
    
    #nav.active li a{
        display: block;
        padding: 0.4em 0 0.4em 1em;
        color: #fff;
        font-weight: lighter;
    }
    
    #nav.active li a .fa{
        color: #fff;
    }
    
    /* User Navigation */
    nav > ul{
       display: none
    }    
    
    nav.active > ul{
       display: block
    }
    
    .dropdown-menu{
        display: block;
    }
    
    body nav li ul{
        width: 100%
    } 
    
    nav ul li {
        display: block;
        float: none;
    }
    
    nav.active .expand{
        position: absolute;
        top: 0.6em;
        right: 4%;
        font-size: 1.3em;
        display: block;
    }    
    
/* Top        ---------- */
    
    nav > ul > li {
        background: #C61745;
        position: relative;
        border-bottom: 1px solid #D45F84;
    }
    
/* > Second   ---------- */
    
    nav ul > li > ul {
        position: static;
    }   
    
    nav ul > li > ul > li > a {
        padding-left: 2em;
        background: #0F5193;
    }
    
/* > > Third  ---------- */
        
    nav ul > li > ul > li > ul {
        position: static;       
    }        
    
    nav ul > li > ul > li > ul > li > a {
        padding-left: 4em;
        font-weight: lighter;
    }
    
    nav ul > li > ul > li > ul > li > a:before {
        font-family: FontAwesome;
        content: '\f105';
        padding: 0 0.5em 0 0;
    }
}

@media only screen and (max-width: 720px) {
    div.grid-8{
        width: 46%
    }
    
    div.grid-12{
        width: 96%;
    }
    
    .grid > .scroll{
        overflow: visible;
    }
    
    table {
        width: 100%;
        border: 0;
        background-color: #fff;
    }

    table tr { 
        display: block;
    }

    table thead, table tbody { 
        float: left;
    }
    
    table thead {
        width: 40%;
    }
    
    table tbody {
        width: 60%;
    }
    
    table td { 
        display: list-item;
        list-style: none;
        border: 0;
    }
    
    table thead tr td h4{
        font-size: 1.2em;
        padding: 0.4em 1em;
        text-align: right;
        border-bottom: 1px dotted #aaa;   
    }
    
    table tbody tr td select{
        padding: 0.6em 1em;
        box-shadow: none;
        border: 1px solid #BEBEBE;
        border-radius: 6px;
        margin: 0.2em 0;        
    }
    
    table tbody tr td{
        padding: 0.2em 1em;
        text-align: left !important;
        position: relative;
    }
    
    table tbody tr td p{
        padding: 0.7em 0 0.5em;
        white-space: nowrap;
    }
    
    table input:not([type=submit]):not([type=file]){
        padding: 0.6em 1em;
        box-shadow: none;
        border: 1px solid #BEBEBE;
        border-radius: 6px;
        margin: 0.2em 0;
        width: 78%;
    }
}

@media only screen and (min-width: 681px) {
    .menu{
        display: block
    }
}

@media only screen and (min-width: 681px) and (max-width: 720px) {}

@media only screen and (max-width: 680px) {
    .posts .grid-8, .posts .grid-12 {
        width: 96%;
    }
    .header .menu-icon{
        display: block
    }
    .menu{
        display: none;
        position: absolute;
        top: 4.5em;
        width: 100%
    }
    .menu ul{
        padding: 0 0 1em;
        line-height: 2.5em;
        width: 100%;
        background-color: #FFF;
    }
    .menu ul li{
        float: none
    }
    .menu ul li a{
        color: #494949;
    }
    #logout{
        position: static;
        padding: 1em 0 0.2em;
        border-top: 1px solid #ddd;
    }
}

@media only screen and (min-width: 481px) and (max-width: 680px) {}

@media only screen and (max-width: 480px) {
    #logo img{
        width: 61%;
    }

    input[type=text], input[type=password], input[type=button], textarea, select, button{
        width: 90%;
        display: block;
    }
    
    input[type=submit] {
        width: 100%;
        display: block;
    }
    
    a.link_button.large {
        width: 90%;
        display: block;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {}

@media only screen and (max-width: 320px) {}