/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body{
	padding: 0;
	margin: 0;
	font-family: Lato,sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#logo {
	margin: 2%;
}

#logolarge {
	display: block;
	margin: 0 auto;
}

.logocontainer {
	width: 88%;
	margin: 2%;
	padding: 2% 4%;
}

.logocontainer h1 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	text-align:center;
}


#table1 {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#table1 input:not([type=submit]):not([type=file]) {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table1 select {
  padding: 8px 26px 8px 26px;
  margin: 5px 15px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table1 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	text-align:center;
}

#table1 td {
	text-align:center;
}

/* -------------------------- */

#table2 {
	margin-left: auto;
	margin-right: auto;
}


#table2 td {
  padding: 5px;
  margin: 5px 5px 5px 5px;
  border-bottom: 1px solid #BEBEBE;
  font-family: Lato,sans-serif;
  font-weight:400;
  
}

#table2 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
}

/* -------------------------- */

#table3 {
	margin-left: auto;
	margin-right: auto;
}

#table3 select {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table3 input:not([type=submit]):not([type=file]) {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table3 td {
	text-align:center;
}

#table3 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
}

/*----------------------------------- */

#table4 {
	margin-left: auto;
	margin-right: auto;
}

#table4 select {
  padding: 8px 20px 8px 20px;
  margin: 5px 2px 5px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table4 input:not([type=submit]):not([type=file]) {
  padding: 8px 10px 8px 10px;
  margin: 5px 2px 5px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table4 td {
	text-align:center;
}

#table4 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
}

/*----------------------------------- */

#table5 {
	margin-left: auto;
	margin-right: auto;
}

#table5 select {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table5 input:not([type=submit]):not([type=file]) {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table5 td {
	text-align:center;
}

#table5 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
}

/*---*/

#table6 {
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
}

#table6 select {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table6 input:not([type=submit]):not([type=file]) {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table6 td {
	text-align:center;
}

#table6 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
}


#table7 {
	margin-left: auto;
	margin-right: auto;
	width: 45%;
}

#table7 a {
	text-decoration: none;
	font-family: Lato,sans-serif;
	color: #3f3f3f;
	font-weight: bold;
}

#table7 a:hover {
	text-decoration: none;
	font-family: Lato,sans-serif;
	color: #C41846;
	font-weight: bold;
}

#table7 li {
	margin: 0px 0px 0px 25px;
	list-style:none;
}


#table7 td {
	width: 50%;
}

#table7 h2 {
	padding-left: 50px;
	font-family: lato,sans-serif;
	color: #3f3f3f;
	font-weight:400;
	border-bottom: 1px solid #b7c8cf;
}

/*----------------------------------- */
#table8 {
	float:left;
	width: 44%;
	margin-right: 3%;
	margin-left: 3%;
}

#table8 select {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table8 input:not([type=submit]):not([type=file]) {
  padding: 8px 26px 8px 26px;
  margin: 5px 5px 5px 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table8 td {
	text-align:center;
}

#table8 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
}

/*----------------------------------- */

#table9 {
	float:left;
	width: 44%;
	margin-right: 3%;
	margin-left: 3%;
/*	border: 1px solid #175696; */
}

#table9 select {
  padding: 8px 20px 8px 20px;
  margin: 5px 2px 5px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table9 input:not([type=submit]):not([type=file]) {
  padding: 8px 10px 8px 10px;
  margin: 5px 2px 5px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table9 td {
	text-align:center;
}

#table9 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
}

/*----------------------------------- */

.tablecontainer2 {
	display: block;
	width: 100%;
	height:100%;
}

.cellemphasis {
	border: 1px solid #C41846;
	border-radius: 15px;
	background-color: #BEBEBE;
}

.divemphasis {
	border: 1px solid #C41846;
	border-radius: 15px;
	background-color: #D4D4D4;
	padding: 25px;
}

.invisibleemphasis {
	border: 1px solid #EBEBEB;
	border-radius: 15px;
	background-color: #EBEBEB;
	padding: 25px;
}

.imputfieldemphasis {
	border: 1px solid #898989;
	border-radius: 15px;
	padding: 15px;
	margin-bottom: 50px;
	width: 55%;
	margin-right: auto;
	margin-left: auto;
}

/*----------------------------------- */

.submit-center-button {
	display: block;
	width: 100%;
	text-align: center;

}	



/*----------------------------------- */

#container {
	width: 88%;
	border-radius: 25px;
	background-color: #ebebeb;
	margin: 2%;
	padding: 2% 4%;
}

#container h1 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	text-align:center;
}

/*----------------------------------- */
/*--------- INVOICE STYLES ---------- */
/*----------------------------------- */


#invoicecontainer {
	width: 88%;
	border-radius: 25px;
	background-color: #ebebeb;
	margin: 2%;
	padding: 2% 4%;
	height: auto;
}

#invoicecontainer h1 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	text-align:center;
}

#invoiceheader {
	width: auto;
	height: auto;
	display: block;
	border: 1px solid #3f3f3f;
	border-radius: 15px;
	background-color: #ebebeb;
	margin-right: 15%;
	margin-left: 15%;
	
}

#companyaddress {
	display: block;
	float: left;
	border: 1px solid #3f3f3f;
	border-radius: 15px;
	background-color: #ebebeb;
	margin-top: 10px;
	margin-left: 15%;
	width: 400px;
	height: auto;
}

#clientaddress {
	display: block;
	float: left;
	border: 1px solid #3f3f3f;
	border-radius: 15px;
	background-color: #BEBEBE;
	margin-top: 10px;
	margin-left: 15%;
	width: 50%;
	height: auto;
	margin-bottom: 10px;
	
}

#documentdetails {
	display: block;
	float: right;
	border: 1px solid #3f3f3f;
	border-radius: 15px;
	background-color: #BEBEBE;
	margin-top: 10px;
	margin-right: 15%;
	margin-bottom: 10px;
	width: 19%;
	height: 165px;
	
}

.onelinetb {
	display: block;
	float: right;
	border: 1px solid #C41846;
	border-radius: 15px;
	background-color: #BEBEBE;
	margin-right: 15%;
	margin-bottom: 10px;
	width: 19%;
	height: 70px;
	
}

.onelinetb_small {
	display: block;
	float: right;
	border: 1px solid #C41846;
	border-radius: 15px;
	background-color: #BEBEBE;
	margin-right: 15%;
	margin-top: 10px;
	width: 19%;
	height: 48px;
	
}

.paymentinfo {
	display: block;
	float: left;
	border: 1px solid #C41846;
	border-radius: 15px;
	background-color: #BEBEBE;
	margin-top: 10px;
	margin-left: 15%;
	width: 50%;
	height: auto;
	margin-bottom: 10px;
	
}

.details {
	display: block;
	width:70%;
	margin-right: 15%;
	margin-left: 15%;
	float: left;
	border-radius: 15px;
	background-color:#FFFFFF;
	
}

.clearboth {
	clear: both;
}

/*----------------------------------- */

#table10 {
	float:left;
	width: 100%;
	margin-right: 3%;
	margin-left: 3%;
/*	border: 1px solid #175696; */
}

#table10 select {
  padding: 8px 8px 8px 8px;
  margin: 2px 2px 2px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table10 input:not([type=submit]):not([type=file]) {
  padding: 8px 10px 8px 10px;
  margin: 5px 2px 5px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table10 td {
	text-align:left;
}

#table10 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	margin: 12px 2px 3px 5px;
}

#table11 {
	float:left;
	width: 95%;
	margin-right: 3%;
	margin-left: 3%;
/*	border: 1px solid #175696; */
}

#table11 select {
  padding: 8px 8px 8px 8px;
  margin: 2px 0px 2px 0px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table11 input:not([type=submit]):not([type=file]) {
  padding: 2px 0px 2px 5px;
  margin: 2px 0px 2px 0px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table11 td {
	text-align:left;
}

#table11 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	margin: 4px 2px 3px 5px;
}

#table12 {
	float:left;
	width: 100%;
	margin-right: 3%;
	margin-left: 3%;
/*	border: 1px solid #175696; */
}

#table12 select {
  padding: 8px 8px 8px 8px;
  margin: 2px 2px 2px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table12 input:not([type=submit]):not([type=file]) {
  padding: 8px 10px 8px 10px;
  margin: 5px 2px 5px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table12 td {
	padding-top: 12px;
	text-align:left;
}

#table12 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	margin: 5px 2px 3px 5px;
}

#table13 {
	float:left;
	width: 100%;
	margin-right: 3%;
	margin-left: 3%;
/*	border: 1px solid #175696; */
}

#table13 select {
  padding: 8px 8px 8px 8px;
  margin: 2px 2px 2px 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table13 input:not([type=submit]):not([type=file]) {
  padding: 4px 5px 4px 5px;
  margin: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

#table13 td {
	text-align:left;
}

#table13 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	margin: 5px 2px 3px 5px;
}

#table13 h6 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	margin: 2px 2px 3px 2px;
}

/*----------------------------------- */
/*---------- TABLE STYLES ----------- */
/*----------------------------------- */



.tablecontainer {
	width: auto;
	height: auto;
	display: block;
	border: 1px solid #3f3f3f;
	border-radius: 15px;
	background-color: #ebebeb;
	margin-right: 1%;
	margin-left: 1%;
	
}

.table14 {
		margin-left: auto;
		margin-right: auto;
		border-collapse: collapse;
		margin-top: 25px;
		margin-bottom: 25px;
		box-shadow: 10px 10px 5px #888888;
}

.table14 th {
		font-family: Exo,sans-serif;
		font-size: smaller;
		color: #FFF;
		padding: 5px 25px 5px 25px;
		border: 1px solid #707070; /* W3C */
		background-color: #C41846;

		
}

.table14 select {
	  padding: 8px 20px 8px 20px;
	  margin: 5px 2px 5px 2px;
	  border: solid 1px #fff;
	  box-shadow: inset 1px 1px 2px 0 #707070;
	  transition: box-shadow 0.3s;
	  border-radius: 15px;
}

.table14 input:not([type=submit]):not([type=file]) {
	  padding: 8px 10px 8px 10px;
	  margin: 5px 2px 5px 2px;
	  border: solid 1px #fff;
	  box-shadow: inset 1px 1px 2px 0 #707070;
	  transition: box-shadow 0.3s;
	  border-radius: 15px;
}

.table14 td {
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
}

.table15 {
		margin-left: auto;
		margin-right: auto;
		border-collapse: collapse;
		margin-top: 125px;
		margin-bottom: 125px;
		box-shadow: 10px 10px 5px #888888;
}


.table15 select {
	  padding: 8px 20px 8px 20px;
	  margin: 5px 2px 5px 2px;
	  border: solid 1px #fff;
	  box-shadow: inset 1px 1px 2px 0 #707070;
	  transition: box-shadow 0.3s;
	  border-radius: 15px;
}

.table15 input:not([type=submit]):not([type=file]) {
	  padding: 8px 10px 8px 10px;
	  margin: 5px 2px 5px 2px;
	  border: solid 1px #fff;
	  box-shadow: inset 1px 1px 2px 0 #707070;
	  transition: box-shadow 0.3s;
	  border-radius: 15px;
}

/* .table15 td {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	border: 1px solid #707070;
} */

.yellowtd1 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #F5DBB5;
}

.yellowtd2 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #F0CA8F;
}

.yellowtd3 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #EBB86A;
}

.greentd1 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #C2E6CE;
}

.greentd2 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #99D6AE;
}

.greentd3 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #5CBD7D;
}

.redtd1 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #FFC2C2;
}

.redtd2 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #FF9999;
}

.redtd3 {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	/*color: #3C3C3C;*/
	border: 1px solid #707070;
	background-color: #FF5C5C;
}


.emptytd {
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
}



.glassth {
		font-family: Exo,sans-serif;
		font-size: smaller;
		color: #505050;
		padding: 5px 25px 5px 25px;
		border: 1px solid #707070; /* W3C */
		background: #e4f5fc; /* Old browsers */
		background: -moz-linear-gradient(top,  #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(50%,#bfe8f9), color-stop(51%,#9fd8ef), color-stop(100%,#2ab0ed)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
}


.spacer {
	background-color: #ebebeb;
	opacity: 1;
	border-color: #ebebeb;
	
}

.abovetarget {
	background-color: #33AD5C;
}

.attarget {
	background-color: #E6A645;	
}

.belowtarget {
	background-color: #FF3333;	
}

.target td {
	color: #fff;
}


.minus {
	color: #C41846;
}


.totalstd {
	color: #fff;
	padding: 5px 25px 5px 25px;
	font-weight: bold;
	font-family: Calibri, sans-serif;
	font-size:small;
	text-align:center;
	border: 1px solid #707070;
	background-color: #C41846
}

/* #table14 h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
}

*/

/*----------------------------------- */


.form-box {
	width: auto;
	height: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}


.phpoutput {
	width: 1000px;
	height: auto;
	background-color: #ebebeb;
	margin-top: 50px;
	margin-bottom: 150px;
	margin-left: auto;
	margin-right: auto;
}


.inputline {
	height: 35px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}


.center {
	text-align: center;
	margin: 0 auto;
}	

.errormsg p {
	margin-left: 50px;
	color: #C41846;
	font-family: Exo,sans-serif;
	font-weight: 600;
	
	
}



/* FOOTER */

#footer{
	background: rgb(23, 86, 150);
	color: #fff;
	padding: 0.5% 2%;
	font-size: 0.7em;
	margin: 2% 0 0;
	font-weight: 100;
}

/* ----------------------------------- */
/* -------- DASHBOARD STYLES --------- */
/* ----------------------------------- */

.dashborad-header {
	width: 90%;
	margin: 0 auto;
	padding: 1% 1%;
}

.dashborad-header h1 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	text-align:center;
}

.grid h3, .grid h4 {
	font-family: Abel,sans-serif;
	color: #3f3f3f;
	text-align:center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.height350 {
	height: 350px;
	display: block;
}

.height500 {
	height: 500px;
}

.height750 {
	height: 750px;
}

.graph1 {
	width: 96%;
	height: 76%;	
}
 
.buttons1 {
	width: 100%;
	margin-bottom: 1%; 	
}

.container-header {
	width: 100%;
	height: 10%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.googletable1 {
	width: 100%;
	height: auto;
	margin-bottom: 25px;
}

.googletable2 {
	width: 100%;
	height: auto;
	margin-bottom: 5px;
}

.outline {
	outline: 1px solid #3B3B3B;
	
}

.margin-top50 {
	margin: 50px;
}

.margins {
	margin-top: 75px;
	margin-bottom: 25px;
}

.margin2 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.table-mid {
	margin: 0 auto;
	text-align: center;
	border: 1px solid #000000;
}

.column_a h5, .column_b h5, .column_c h5 {
	margin: 3px 0;
	color: #C41846;
	font-family: Abel,sans-serif;
	text-align: center;

}

.column_a {
	width: 18%;
	display: block;
	background: #fff;
	float: left;
	margin: 0px 0px 2% 2%;

}

.column_b {
	width: 37%;
	display: block;
	background: #fff;
	float: left;
	margin: 0px 0px 2% 2%;

}

.column_c {
	width: 37%;
	display: block;
	background: #fff;
	float: left;
	margin: 0px 0px 2% 2%;

	
}

.column_charts {
	width: 96%;
	display: block;
	margin: 0 2%;
	height: 450px;
}


.redheader {
	background-color: #C41846 !important;
	color: #FFFFFF;
}

/* GoogleCharts IDs */

#piechart2 {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
}

#curve_chart {
	margin-right: 6%;
	margin-left: 6%;
}

#curve_chart2 {
	margin-right: 6%;
	margin-left: 6%;
}

#table_div_a {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_b {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_c {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_d {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_e {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_f {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_g {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_h {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_i {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_j {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_k {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div_l {
	margin-right: 2%;
	margin-left: 2%;
}


#table_div7 {
	margin-right: 2%;
	margin-left: 2%;
}

#table_div4 {
	margin-right: 6%;
	margin-left: 6%;
}

#table_div5 {
	margin-right: 6%;
	margin-left: 6%;
}

#table_div6 {
	margin-right: 6%;
	margin-left: 6%;
}

#visualization {
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}

/* GRID */

.grid{
    overflow: hidden;
    padding: 1% 0
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24{
    background-color: #999999;
    border-radius: 15px;
    color: #333;
    margin: 0 2%;
    text-align: center;
    float: left;
    display: inline;
    position: relative;
}
.grid-1{
    width: 0.166%
}
.grid-2{
    width: 4.333%;
}
.grid-3{
    width: 8.5%
}
.grid-4{
    width: 12.666%
}
.grid-5{
    width: 16.833%
}
/* 4 Columns */
.grid-6{
    width: 21%
}
.grid-7{
    width: 25.166%
}
/* 3 Columns */
.grid-8{
    width: 29.333%
}
.grid-9{
    width: 33.5%
}
.grid-10{
    width: 37.666%
}
.grid-11{
    width: 41.833%
}
/* 2 Columns */
.grid-12{
    width: 46%
}

.grid-12_withmargin{
    width: 46%;
    margin-top: 50px;
    margin-right: 2%;
    margin-bottom: 0;
    margin-left: 2%;
    background-color: #999999;
    border-radius: 15px;
    color: #333;
    text-align: center;
    float: left;
    display: inline;
    position: relative;
}

.grid-13{
    width: 50.166%
}
.grid-14{
    width: 54.333%
}
.grid-15{
    width: 58.5%
}
.grid-16{
    width: 62.666%
}
.grid-17{
    width: 66.833%
}
.grid-18{
    width: 71%
}
.grid-19{
    width: 75.166%
}
.grid-20{
    width: 79.333%
}
.grid-21{
    width: 83.5%
}
.grid-22{
    width: 87.666%
}
.grid-23{
    width: 91.833%
}
.grid-24{
    width: 96%
}

@media only screen and (min-width: 1024px) {
	body {}
}

@media only screen and (min-width: 721px) and (max-width: 1024px){
	body {}
}

@media only screen and (max-width: 720px) {
    .posts .grid-8{
        width: 46%
    }
}

@media only screen and (min-width: 681px) {
    .menu{
        display: block
    }
}

@media only screen and (min-width: 681px) and (max-width: 720px) {
	body {}
}

@media only screen and (max-width: 680px) {
    .posts .grid-8, .posts .grid-12 {
        width: 96%;
    }
    .header .menu-icon{
        display: block
    }
    .menu{
        display: none;
        position: absolute;
        top: 4.5em;
        width: 100%
    }
    .menu ul{
        padding: 0 0 1em;
        line-height: 2.5em;
        width: 100%;
        background-color: #FFF;
    }
    .menu ul li{
        float: none
    }
    .menu ul li a{
        color: #494949;
    }
}

@media only screen and (min-width: 481px) and (max-width: 680px) {
	body {}
}

@media only screen and (max-width: 480px) {
    body{
        font-size: 102%
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
	body {}	
}

@media only screen and (max-width: 320px) {
	body{}
}
/* ==========================================================================
   Fancy button
   ========================================================================== */
#submit1 {
	text-align: center;
	margin: 50px 0px 50px 0px;
}


.submit-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:1px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:35px;
	line-height:35px;
	width:132px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
	margin-bottom: 10px;
}
.submit-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}
.submit-button:active {
	position:relative;
	top:1px;
}


/* ========================================================================== */

/* NAVIGATION */



nav ul ul {
	display:none;
}

nav ul li:hover > ul {
	display:block;
}

nav ul {
	background: #175696;
	padding 0 20px;
	list-style: none;
	position: relative;
	display: block;
	font-family: Abel,sans-serif;
	
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	float: left;
}

nav ul li:hover {
	background: #C41846;
}
	
nav ul li:hover a {
	color: #fff;
}
	
nav ul li a {
	display: block; 
	padding: 25px 40px;
	color: #FFF; 
	text-decoration: none;
}

/* ------------------------------------------------ */


nav ul ul {
	background: #175696; 
	padding: 0;
	position: absolute; 
	top: 100%;
}

nav ul ul li {
	float: none; 
	position: relative;
}

nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}	
			
nav ul ul li a:hover {
	background: #C41846;
}

nav ul ul ul {
	position: absolute; 
	left: 100%;
	top:0;
}

/*


nav ul {
	list-style: none;
	padding: 0 0 0 2%;
	margin: 0;
	font-family: Abel,sans-serif;
	overflow: auto;  
	background: rgb(23, 86, 150);
}

nav li{
	float: left;
}

nav li a{
	float: left;
	text-decoration: none;
	color: #fff;
	padding: 1em;
}

nav li a:hover{
	background-color: rgb(203, 22, 66);
}

*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



